
input[type=password], input[type=text] {
    width: 30%;
    padding: 1%;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 249, 249);
    margin: 4px 2px;
  }
  
  input[type=submit] {
    width: 32%;
    height: 2em;
    border-radius: 10px;
    border: none;
    margin-top: 1%;
    background-color: #7882A4;
    font-size: 24px;
    font-weight: bolder;
    color: white;
  }
  
  input[type=submit]:hover{
    color: #7882A4;
    background-color: whitesmoke;
    border: 1px solid #7882A4;
    cursor: pointer;
  } 

  .contact{
    text-align: center;
    height: 50%;
    position: absolute;
    width: 90%;
    bottom: 28%;
    right:5%;
  }